.order-sucess,
.order-error {
    padding: 0;
    padding-bottom: 100px;

    text-align: center;

    margin: auto;
}

.order-sucess .sucess-lottie{
    height: 250px;
}

.order-error .error-lottie{
    height: 350px;
}

.order-sucess a{
    color: var(--secondary-color);
}

.order-error a{
    color: rgba(232, 102, 102, 0.693);
}

